body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

#hero {
    background-color: #1F2937;
    display: flex;
    color: white;
    flex-direction: column;
}
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    
 }

 nav a {
    font-size: 18px;
    color: #E5E7EB;
 }

 #links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }

 #title-hero {
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-wrap: nowrap;
    gap: 30px;
 }

 #title-hero h2 {
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
 }



 #title {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 450px;
   align-items: flex-start;
 }

 #title button {
   width: 130px;
   height: 35px;
   background-color: #3882F6;
   color: #F9FAF8;
   border-radius: 8px;
   border: none;
   font-size: 18px;
 }

 #title p {
   color: #E5E7EB;
   font-size: 18px;
   margin: 0;
   padding: 10px 0;
 }

 #section-two {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 #section-two img {
   width: 170px;
   height: 170px;
   border-radius: 8px;
   border: 2px solid #3882F6;
 }

 #section-two div {
   display: flex;
   justify-content: center;
   padding-bottom: 50px;
   
 }
  #section-two figcaption {
   width: 170px;
   text-align: center;
   color: #828282;
 }

 #section-two h3 {
   font-size: 36px;
   color: #1F2937;
   font-weight: bolder;
 }

 #quote {
   background-color: #E5E7EB;
   display: flex;
   padding: 100px 450px;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
   flex-direction: column;
   align-items: flex-end;
   
   
 }

 #quote #cite {
   font-size: 18px;
   font-style: normal;
   font-weight: bold;
 }

 
 #last-section {
   background-color: #3882F6;
   margin: 100px 200px;
   border-radius: 8px;
   display: flex;
   color: #F9FAF8;
   justify-content: space-evenly;
   padding: 50px;
   align-items: center;
}

 #last-section button{
  width: 130px;
  height: 35px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #F9FAF8;
  font-size: 18px;
  color: #F9FAF8;
 }


 #action h3 {
  font-size: 24px;
  padding: 0;
  margin: 0;
 }

 #action p {
  padding: 0;
  margin: 0;
  opacity: .7;;
 }

 footer {
   background-color: #1F2937;
   color: #F9FAF8;
   text-align: center;
   padding: 30px 0;
 }

 footer  p {
  opacity: .7;

 }